<!-- Your code here -->
<form class="form-inline" name="urlCheck" ng-submit="addLink(urlCheck.$valid)" novalidate>
<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
  <input class="form-control" type="url" name="website" ng-model="link.url" placeholder="Enter URL.." required>
<button class="btn btn-default" ng-click="addLink()">Shorten</button>
<p ng-show="urlCheck.website.$invalid && !urlCheck.website.$pristine" class="help-block">Please enter valid URL</p>
</form>
</div>
