<div id='container'>
<!-- Your code here -->
<a href="/#/links"><h4>Links</h4></a>
<form name="urlCheck" ng-submit="addLink(urlCheck.$valid)" novalidate>
  <input type="url" name="website" ng-model="link.url" placeholder="Enter URL.." required>
</form>
<button ng-click="addLink()">Shorten</button>
<!-- <button ng-click="shortLink()">{{data}}</button> -->
<button ng-click="">{{shortLink.base_url}}/api/links/{{shortLink.code}}</button>
</div>

<p ng-show="urlCheck.website.$invalid && !urlCheck.website.$pristine" class="help-block">Please enter valid URL</p>